<h1>Books</h1>
<% @books.each do |book| %>
  <p>Title</p>
  <span><%= book.title %></span>
  <p>Body</p>
  <span><%= book.body %></span>
  <span>
    <!--routesのas: 'book'の記載をしたやつ。リンクになっている。-->
    <%= link_to "Show", book_path(book.id) %>
    <%= link_to "Edit", edit_book_path(book.id) %>
    <%= link_to "destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
  </span>
<% end %>