<p class="success" id="notice">
 <%=  notice %>
</p>
<div class="show_title">
<h2>Title:</h2>
<p class="show_text"><%= @book.title %></p>
</div>

<div class="show_body">
<h2>Body:</h2>
<p class="show_text"><%= @book.body %></p>
</div>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Back", index_book_path(@book.id) %>